{% extends 'base.html.twig' %}


{% block body %}
<img class="image" src="{{ asset('images/generiques/entete.png') }}" alt="Image d'un mécanicien du Garage V.Parrot">  

  <h2> Qui sommes-nous ? </h2>
  <h2> Découvrez nos services </h2>
      <h3> Pneus et roues </h3>
      <h3> Disques et plaquettes </h3>
      <h3> Vidanges et entretien </h3>
      <h3> Boite de vitesse </h3>
      <h3> Echappement </h3>
      <h3> Diagnostic automobile </h3>

    <h2> Opportunité à saisir </h2>

    <h2> Vos témoignages </h2>

     
    
{% endblock %}

{% block footer %}

{% endblock %}
