{% extends 'base.html.twig' %}

{% block body %}
   
<style>
  {#}  .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px.; }{/#}
</style>

 <h2> Qui sommes-nous </h2>

    <h2> Découvrez nos services </h2>
        <h3> Pneus et roues </h3>
        <h3> Disques et plaquettes </h3>
        <h3> Vidanges et entretien </h3>
        <h3> Boite de vitesse </h3>
        <h3> Echappement </h3>
        <h3> Diagnostic automobile </h3>

    <h2> Opportunité à saisir </h2>

    <h2> Vos témoignages </h2>

    {% block javascripts %} <script src="{{ asset('javascript/script.js') }}"></script> {% endblock %} 
    
{% endblock %}

{% block footer %}

{% endblock %}
