{% extends 'base.html.twig' %}


{% block body %}

  <img class="image" src="{{ asset('images/generiques/entete.png') }}" alt="Image d'un mécanicien du Garage V.Parrot">  
    <div class="bloc">
        <div class="bloc-img">
        <img src="{{ asset('images/generiques/quisommesnous.jpg') }}" alt="Image de présentation du garage">
        </div> 
        <div class="text-bloc">
          <h2> QUI SOMMES-NOUS ? </h2>
          <p> Nous sommes bien plus qu’un simple garage, nous sommes une équipe passionnée, qualifiée et dévouée à offrire un service exceptionnel.<br>
          En tant qu’entreprise établie dans le bassin alsacien depuis plus de 20 ans, nous bénéficions d’une solide réputation basée sur notre 
          expertise. Nous avons construit des relations durables avec nos clients grâce à des valeurs qui nous sont chères : transparence, honnêteté 
          et professionnalisme.<br>
          Vincent PARROT et toute son équipe vous souhaite la bienvenue !</p>
        </div>
      <div>

{% endblock %}


