* {
    text-decoration: none;
}

/* Header responsive */
.connecter {
    position: absolute;
    right: 15px;
    font-size: 15px;
    line-height: 0.5px;
}

.logo {
    display: block;
    margin: auto;
}

h1 {
    font-family: 'lato'; 
    color: #334471;
    text-align: center;
    line-height: 1px;
}

p {
    font-family: 'Source Sans 3', sans-serif;
    font-style: italic;
    font-size: larger;
    color: #334471;
    text-align: center;
}

/* Navbar */
.navbar {
    width: 100%;
    display: inline-block;
    background-color: #ABB6D0;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: center;
}

li {
    list-style-type: none;
    color: black;
    padding: 40px;
}

/* Style des liens format mobile*/
a,
a:visited,
a:active {
    color: black;
}
a:hover {
    color: #0D2459;
}

/* Navbar format mobile */
.menuBurger {
    width: 90%;
    margin: auto;
    height: 50px;
    border-radius: 50PX;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ABB6D0;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 40px;
    color: black;
    border: solid black;
    margin-bottom: 10px;
}

.fermeture {
    position: absolute;
    top: 325px;
    right: 25px;
    font-size: 40px;
}

/* Mediaqueries transition format Desktop - Mobile */
@media screen and (min-width : 850px) and (max-width : 1066px) {
    .navbar {
        font-size: 10px;
    }
}

@media screen and (min-width : 850px) {
    .menuBurger {
        display: none;
    }

    .image {
        width: 100%;
    }

    .navbar {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85%;
        border-radius: 50px;
        height: 50px;
    }
     
    li {
        display: inline;
    }

    a:hover {
        padding: 10px;
    }

    a,
    a:visited,
    a:active {
        color: black;
        transition: 0.2s ease;
    }
    a:hover {
        color: #0D2459;
        background-color: aliceblue;
        padding: 12px;
        border: 1px solid #0D2459;
        border-radius: 50px;
    }

    .fermeture {
        display: none;
    }
}

@media screen and (max-width : 850px) {
    .image {
        display: none;
    }
}

