 <header>
    <p><a class="connecter" href="#">Se connecter</a></p>
    <img class="logo" src="{{ asset('images/generiques/Logo.png') }}" alt="Logo Garage V.Parrot">
    <h1> GARAGE V. PARROT </h1>
    <p> Réparations fiables, voitures d'occasion exceptionnelles </p>  
</header>

<a href="#" class="menuBurger">Menu ☰</a>
<nav>
    <div class="fermeture"><a href="#">X</a></div>
    <ul>
        <li><a href="{{path ('app_home')}}">ACCUEIL</a></li>
        <li><a href="{{path ('app_services')}}">SERVICES</a></li>
        <li><a href="">VEHICULES D'OCCASION</a></li>
        <li><a href="#">VOS TEMOIGNAGES</a></li>
    </ul>
</nav>