* {
    text-decoration: none;
}

/* Style des titres du site */ 
h2 {
    font-family: "roboto";
    font-weight: 700;
    font-size: 35px;
    color: #0D2459;
    text-align: center;
}

h3 {
    font-family: "roboto";
    font-weight: 400;
    font-size: 40px;
}

p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    color: black;
}

/* Header responsive mobile first */
.connecter {
    position: absolute;
    right: 15px;
    font-size: 15px;
    line-height: 0.5px;
}

.logo {
    display: block;
    margin: auto;
}

h1 {
    font-family: 'lato'; 
    color: #334471;
    text-align: center;
    line-height: 1px;
}

header p {
    font-family: 'Source Sans 3', sans-serif;
    font-style: italic;
    font-size: larger;
    color: #334471;
    text-align: center;
}

/* Navbar format mobile */
nav {
    position: absolute;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ABB6D0;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: center;
    transform: translateY(-200%);
    transition: transform 0,3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

nav.active {
    transform: translateY(0);
}

li {
    list-style-type: none;
    color: black;
    padding: 40px;
}

.menuBurger {
    width: 90%;
    margin: auto;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ABB6D0;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 40px;
    color: black;
    margin-bottom: 10px;
}

.fermeture {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
}

/* Style des liens format mobile*/
a,
a:visited,
a:active {
    color: black;
}
a:hover {
    color: #0D2459;
    background-color: aliceblue;
    padding: 8px;
    border: 1px solid #0D2459;
    border-radius: 50px;
}

/* Media queries transition format Desktop - Mobile */
@media screen and (min-width : 850px) and (max-width : 1066px) {
    nav {
        font-size: 10px;
    }
}

@media screen and (min-width : 850px) {
    .menuBurger {
        display: none;
    }

    .image-principale {
        width: 100%;
    }

    nav {
        position: relative;
        margin: auto;
        align-items: center;
        justify-content: space-around;
        width: 85%;
        border-radius: 50px;
        height: 50px;
        transform: translateX(0);
    }
     
    li {
        display: inline;
    }

    a:hover {
        padding: 10px;
    }

    a,
    a:visited,
    a:active {
        color: black;
        transition: 0.2s ease;
    }
    a:hover {
        color: #0D2459;
        background-color: aliceblue;
        padding: 12px;
        border: 1px solid #0D2459;
        border-radius: 50px;
    }

    .fermeture {
        display: none;
    }
}

@media screen and (max-width : 850px) {
    .image-principale {
        display: none;
    }
}

/* Rubrique Qui sommes-nous ? & Découvrez nos services */
.bloc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width : auto;
}

article img {
    width: 100%;
}

.text-bloc {
    background-color: #ABB6D0;
    font-size: 25px;
    text-align: justify;
    padding: 10px;
    padding-left: 30px;
}

.textservice-bloc {
    text-align: justify;
    padding: 10px;
}

.text-bloc p {
    margin: 0;
    padding-top: 0;
    width : 100%; 
}

@media screen and (min-width : 900px) {
    article .text-bloc h2 {
        font-family: "roboto";
        font-weight: 600;
        font-size: 35px;
        color: #0D2459;
        text-align: center;
    }

    .bloc {
        display: flex;
        flex-wrap: wrap;
        flex-direction:row-reverse;
        width: 100%;
    }
    
    .bloc img {
        flex : 0 0 40%;
        position: relative;
        display: block;
        max-width: 40%;
    }

    .bloc .text-bloc {
        flex: 1;
        padding: 10px;
        font-size: clamp(0.938rem, 2.094vw + -0.371rem, 2.188rem);
    }
}

/* Mediaqueries Nos services */

@media screen and (min-width : 900px) {
    .blocservice {
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        width: 100%;
    }
    
    article .blocservice {
        flex-direction: row;

    }
    
    article .imageservice {
        flex : 0 0 40%;
        position: relative;
        display: block;
        max-width: 40%;
    }

    article .textservice-bloc {
        flex: 1;
        padding-left: 25px;
        padding-right: 25px;
        text-align: justify;
        font-size: clamp(0.938rem, 2.094vw + -0.371rem, 2.188rem);
    }
}

/* Bouton */

article div .bouton {
	background-color:#0d2459;
	border-radius: 28px;
	border: 1px solid white;
	display: inline-block;
	cursor: pointer;
	color:#ffffff;
	font-family: Roboto;
	font-size:25px;
	font-weight:bold;
	padding: 8px 27px;
	text-decoration: none;
    margin: 20px;
}

article div .bouton:hover {
	background-color:white;
    color: #0D2459;
    border: 1px solid #334471;
}
article div .bouton:active {
	position: relative;
	top:5px;
}

/* Footer */

footer {
    margin: auto;
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #0D2459;
    font-size: 15px;
    color: white;
}

footer h3 {
    font-weight: bold;
    font-size: 20px;
}

/* Espace Réseaux Sociaux */

.reseauxSociaux {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.reseauxSociaux ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.reseauxSociaux ul li {
    margin: 5px;
    padding: 5px;
}

footer img {
    width: 79.56px;
    height: 79.56px;
}

/* Rubrique contact */
.rubriqueContact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rubriqueContact .adresse {
    display: flex;
    flex-direction: column;
}

.bas {
    display: flex;
    justify-content: center;
    background-color: #0D2459;
    font-family: 'Roboto';
    color: #ffffff;
    width: 99%;
}

@media screen and (min-width : 850px) {
    footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 10px;
        width: 99%;
    }

    .rubriqueContact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    small {
        padding-right: 10px;
    }
}

/* Rubrique Service */

.carte {
   display: flex;   
   flex-direction: column;
   align-items: center;

}

.carte-service {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: auto;
    margin: 20px;
}

.carte-texte {
    color: black;
    background-color: #ABB6D0 ;
    text-align: justify;
}

.carte-texte h3 {
    text-align: center

}

.carte-texte p {
    padding: 10px
}

.carte-texte .bouton {
    margin: 5px;
}

@media screen and (min-width : 850px) {
    .carte {
        display: flex;  
        flex-wrap: wrap; 
        flex-direction: row;
        align-items: center;
        margin-left: 9%;
        margin-right: 9%;
     }
}

.pagination .first, .last, .page, .current{
    display: none;
}

.pagination .next {
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        letter-spacing: 0px;
        word-spacing: 100px;
        color: #000000;
        font-weight: normal;
        font-style: oblique;
        font-variant: normal;
        text-transform: capitalize;
}

.pagination .previous {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    letter-spacing: 0px;
    word-spacing: 100px;
    color: #000000;
    font-weight: normal;
    font-style: oblique;
    font-variant: normal;
    text-transform: capitalize;
}

.pagination a:hover {
    padding: 1px;
    color: #ABB6D0;
}

/* Témoignages */

label, .note {
color : #0D2459;
}

.temoignage {
    display: flex;
    justify-content: center;
}

.div1, .div2 {
    width: 350px;
}

.galaxie {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.textinput {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-radius: 50px;
    border: 1px solid black;
    background-color: #ABB6D0;
    font-family: 'Roboto';
    font-size: 15px;
    margin-bottom: 10px;
}

.textarea {
    margin: 10px;
    width: 100%;
    height: 100px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #ABB6D0;
    font-family: 'Roboto';
    font-size: 15px;
    margin-bottom: 10px;
}

.boutonenvoyer {
    float: right;
    margin-bottom: 10px;
    background-color:#0d2459;
	border-radius: 28px;
	border: 1px solid white;
	cursor: pointer;
	color:#ffffff;
	font-family: Roboto;
	font-size:25px;
	padding: 8px 27px;
	text-decoration: none;
    }

.merci {
    width: 100%;
}

    .boite-etoiles input {
    display: none;
    }
    
    .boite-etoiles label {
    font-size: 50px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s;
    }
    
    .boite-etoiles input:checked + label {
    color: #ffcc00;
    }

    .boite-etoiles label.selected {
    color: #ffcc00;
    }

    .etoile {
    font-size: 50px;
    color: #ffcc00;
    }

/* Mediaqueries de la rubrique témoginage */

@media screen and (min-width : 850px) {
    .temoignage {
        display: flex;
        width: auto;

    }

    .champ {
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .div1, .div2{
        display: flex;
        flex-direction: column;
    }

    .textinput {
        margin: auto;
        width: 98%;
        height: 30px;
        border-radius: 50px;
        border: 1px solid black;
        background-color: #ABB6D0;
        font-family: 'Roboto';
        font-size: 15px;
        margin-bottom: 10px;
    }

    .textarea {
        margin: 10px;
        width: 100%;
        height: 100px;
        border-radius: 20px;
        border: 1px solid black;
        background-color: #ABB6D0;
        font-family: 'Roboto';
        font-size: 15px;
        margin-bottom: 10px;
    }

    .merci {
        display: block;
        margin: auto;  
        width: auto; 
    }

      .boite-etoiles input {
        display: none;
      }
      
      .boite-etoiles label {
        font-size: 50px;
        color: #ccc;
        cursor: pointer;
        transition: color 0.3s;
      }
      
      .boite-etoiles input:checked + label {
        color: #ffcc00;
      }

      .boite-etoiles label.selected {
        color: #ffcc00;
      }
}

/* Style de la rubrique Témoignage de l'index */
.bloctemoignages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.temoignage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .temoignage .commentaire {
    font-family: "roboto";
    font-weight: 400;
    font-size: 40px;
    justify-content: center;
    text-align: center;
}

.nomtemoignage {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 0;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    color: black;
}

.titretemoignage {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
}

/* Rubrique Annonces Véhicules */

.carte-annonce {
    color: #0D2459;
    background-color: white ;
    text-align: justify;
    border: solid 1px #000000;
    padding: 10px;
}

.carte-annonce h3 {
    font-family: "roboto";
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.carte-annonce p {
    color: #0D2459;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.prix {
	background-color:#0d2459;
	border-radius: 28px;
	display: inline-block;
	color:#ffffff;
	font-family: Roboto;
	font-size: 15px;
	font-weight:bold;
	padding: 8px 27px;
	text-decoration: none;
    margin: 10px;
}

.imageFile {
    width: 100%;
    height: 214px;
}

.boutondetails {
	background-color: #ABB6D0;
	border-radius: 28px;
	border: 1px solid white;
	display: inline-block;
	cursor: pointer;
	color:black;
	font-family: Roboto;
	font-size:25px;
	font-weight:bold;
	padding: 8px 27px;
	text-decoration: none;
    margin: 10px;
}

.carte-voiture {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    width: 80%;
}

.formulaire {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.formulaire form {
    margin: 20px;
}

.formulaire h2 {
    margin: 10px;
}

.boutonvehicule {
    float: right;
    margin: 10px;
    background-color:#0d2459;
	border-radius: 28px;
	border: 1px solid white;
	cursor: pointer;
	color:#ffffff;
	font-family: Roboto;
	font-size:20px;
	padding: 8px 27px;
	text-decoration: none;
    }

    @media screen and (min-width : 850px) {
        .carte-voiture {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .voiture {
            display: flex;
            flex-direction: column;
            width: 40%;
        }

        .formulaire {
            display: flex;
            flex-direction: column;
            width: 55%;
            margin-right: 5px;
        }

        .div1, .div2 {
            margin-left: 5px;  
        }
    }

/* Filtre de recherche des véhicules */

.filtre {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filtrerecherche {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filtre div {
    margin-left: 10px;
    margin-right: 10px;
}

.filtre div p {
    font-size: 17px;
    color: #0D2459;
    margin: 0;
}

.filtretitre {
	background-color: #ABB6D0;
	border-radius: 28px;
	display: flex;
	color:black;
	font-family: Roboto;
	font-size: 20px;
	font-weight:bold;
	padding: 11px 20px;
	text-decoration: none;
    justify-content: center;
}

@media screen and (min-width : 850px) {
    .filtre {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .filtre div {
        margin-left: 30px;
        margin-right: 30px;
    }

    .filtre div p {
        font-size: 17px;
        color: #0D2459;
        margin: 0;
    }

    .filtretitre {
        background-color: #ABB6D0;
        border-radius: 28px;
        display: inline-block;
        color:black;
        font-family: Roboto;
        font-size: 20px;
        font-weight:bold;
        padding: 11px 20px;
        text-decoration: none;
    }
}

