* {
    text-decoration: none;
}

/* Style des titres du site */ 
h2 {
    font-family: "roboto";
    font-weight: 700;
    font-size: 35px;
    color: #0D2459;
    text-align: center;
}

h3 {
    font-family: "roboto";
    font-weight: 400;
    font-size: 40px;
}

p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    color: black;
}

/* Header responsive mobile first */
.connecter {
    position: absolute;
    right: 15px;
    font-size: 15px;
    line-height: 0.5px;
}

.logo {
    display: block;
    margin: auto;
}

h1 {
    font-family: 'lato'; 
    color: #334471;
    text-align: center;
    line-height: 1px;
}

header p {
    font-family: 'Source Sans 3', sans-serif;
    font-style: italic;
    font-size: larger;
    color: #334471;
    text-align: center;
}

/* Navbar format mobile */
nav {
    position: absolute;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ABB6D0;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: center;
    transform: translateY(-200%);
    transition: transform 0,3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

nav.active {
    transform: translateY(0);
}

li {
    list-style-type: none;
    color: black;
    padding: 40px;
}

.menuBurger {
    width: 90%;
    margin: auto;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ABB6D0;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 40px;
    color: black;
    margin-bottom: 10px;
}

.fermeture {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
}

/* Style des liens format mobile*/
a,
a:visited,
a:active {
    color: black;
}
a:hover {
    color: #0D2459;
    background-color: aliceblue;
    padding: 8px;
    border: 1px solid #0D2459;
    border-radius: 50px;
}

/* Media queries transition format Desktop - Mobile */
@media screen and (min-width : 850px) and (max-width : 1066px) {
    nav {
        font-size: 10px;
    }
}

@media screen and (min-width : 850px) {
    .menuBurger {
        display: none;
    }

    .image-principale {
        width: 100%;
    }

    nav {
        position: relative;
        margin: auto;
        align-items: center;
        justify-content: space-around;
        width: 85%;
        border-radius: 50px;
        height: 50px;
        transform: translateX(0);
    }
     
    li {
        display: inline;
    }

    a:hover {
        padding: 10px;
    }

    a,
    a:visited,
    a:active {
        color: black;
        transition: 0.2s ease;
    }
    a:hover {
        color: #0D2459;
        background-color: aliceblue;
        padding: 12px;
        border: 1px solid #0D2459;
        border-radius: 50px;
    }

    .fermeture {
        display: none;
    }
}

@media screen and (max-width : 850px) {
    .image-principale {
        display: none;
    }
}

/* Rubrique Qui sommes-nous ? & Découvrez nos services */
.bloc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width : auto;
}

article img {
    width: 100%;
}

.text-bloc {
    background-color: #ABB6D0;
    font-size: 25px;
    text-align: justify;
    padding: 10px;
    padding-left: 30px;
}

.textservice-bloc {
    text-align: justify;
    padding: 10px;
}

.text-bloc p {
    margin: 0;
    padding-top: 0;
    width : 100%; 
}

@media screen and (min-width : 900px) {
    article .text-bloc h2 {
        font-family: "roboto";
        font-weight: 600;
        font-size: 35px;
        color: #0D2459;
        text-align: center;
    }

    .bloc {
        display: flex;
        flex-wrap: wrap;
        flex-direction:row-reverse;
        width: 100%;
    }
    
    .bloc img {
        flex : 0 0 40%;
        position: relative;
        display: block;
        max-width: 40%;
    }

    .bloc .text-bloc {
        flex: 1;
        padding: 10px;
        font-size: clamp(0.938rem, 2.094vw + -0.371rem, 2.188rem);
    }
}

/* Mediaqueries Nos services */

@media screen and (min-width : 900px) {
    .blocservice {
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        width: 100%;
    }
    
    article .blocservice {
        flex-direction: row;

    }
    
    article .imageservice {
        flex : 0 0 40%;
        position: relative;
        display: block;
        max-width: 40%;
    }

    article .textservice-bloc {
        flex: 1;
        padding-left: 25px;
        padding-right: 25px;
        text-align: justify;
        font-size: clamp(0.938rem, 2.094vw + -0.371rem, 2.188rem);
    }
}

/* Bouton */

article div .bouton {
	background-color:#0d2459;
	border-radius: 28px;
	border: 1px solid white;
	display: inline-block;
	cursor: pointer;
	color:#ffffff;
	font-family: Roboto;
	font-size:25px;
	font-weight:bold;
	padding: 8px 27px;
	text-decoration: none;
    margin: 20px;
}

article div .bouton:hover {
	background-color:white;
    color: #0D2459;
    border: 1px solid #334471;
}
article div .bouton:active {
	position: relative;
	top:5px;
}

/* Footer */

footer {
    margin: auto;
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #0D2459;
    font-size: 15px;
    color: white;
}

footer h3 {
    font-weight: bold;
    font-size: 20px;
}

/* Espace Réseaux Sociaux */

.reseauxSociaux {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.reseauxSociaux ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.reseauxSociaux ul li {
    margin: 5px;
    padding: 5px;
}

footer img {
    width: 79.56px;
    height: 79.56px;
}

/* Rubrique contact */
.rubriqueContact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rubriqueContact .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rubriqueContact .adresse {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width : 850px) {
    footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 10px;
    }
    .rubriqueContact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    small {
        padding-right: 10px;
    }
}

/* Rubrique Service */

.carte {
   display: flex;   
   flex-direction: column;
   align-items: center;

}

.carte-service {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: auto;
    margin: 20px;
}

.carte-texte {
    color: black;
    background-color: #ABB6D0 ;
    text-align: justify;
}

.carte-texte h3 {
    text-align: center

}

.carte-texte p {
    padding: 10px
}

.carte-texte .bouton {
    margin: 5px;
}

@media screen and (min-width : 850px) {
    .carte {
        display: flex;  
        flex-wrap: wrap; 
        flex-direction: row;
        align-items: center;
        margin-left: 9%;
        margin-right: 9%;
     }
}

.pagination .first, .last {
    display: none;
}

/* Formulaire de connexion */

.bloclogin {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.emaillabel {

}