
<div class="demandepassword">
        <img src="{{ asset('images/generiques/gifvoiture.gif') }}" alt="Mot de passe oublié">
        <h2> Pour tout oublie de mot de passe, veuillez vous adresser directement à M.PARROT.  </h2>
    <center><a class="bouton" href="{{path ('app_home')}}">Retour sur la page d'accueil</a></center>
</div>

<style>
.demandepassword {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

img {
    width : 40%;
}

h2 {
    display: flex;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    color: #0D2459;
    justify-content:center;
}

.bouton{
background-color:#0d2459;
	border-radius: 28px;
	border: 1px solid white;
	display: inline-block;
	cursor: pointer;
	color:#ffffff;
	font-family: Roboto;
	font-size:25px;
	font-weight:bold;
	padding: 8px 27px;
	text-decoration: none;
    margin: 20px;
}

</style>