.bloc .text-bloc h2 {
    font-family: "roboto";
    font-weight: 600;
    font-size: 35px;
    color: #0D2459;
    text-align: center;
}

/* Rubrique Qui sommes-nous ? */
.bloc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width : 100%;
}

img {
    width: 100%;
}

.bloc .text-bloc {
    background-color: #ABB6D0;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

.text-bloc p {
    margin: 0;
    padding-top: 0;
    width : 100%; 
}

@media screen and (min-width : 900px) {
    .bloc .text-bloc h2 {
        font-family: "roboto";
        font-weight: 600;
        font-size: 35px;
        color: #0D2459;
        text-align: center;
    }

    .bloc {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }
    
    .bloc img {
        object-fit: cover;
        flex: 1 1 300px;
        max-width: 50%;
    }

    .bloc .text-bloc {
        padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
        flex: 1 0 50%;
        font-size: clamp(0.938rem, 2.094vw + -0.371rem, 2.188rem);
    }
}
