{% extends 'base.html.twig' %}

{% block title %} Vos témoignages {% endblock %}

{% block body %}

<h2> Témoignages </h2>
<center><p> Votre satisfaction, notre priorité !<p></center>

<form action="" method="POST" class="form-temoignage">
    <label for="name">Nom et prénom : </label><br>
    <input type="text" name="name" id="name" required/> <br>

    <label for="mail">E-mail : </label><br>
    <input type="text" name="mail" id="mail" required/><br>

    <span> Note : </span><br>
        <div class="Galaxie">
            <div class="Boite-etoiles">
                <input type="radio" id="note1" name="radio" value="note"/>
                <label for="note1" class="etoile"> 1 </label>
                <input type="radio" id="note2" name="radio" value="note" />
                <label for="note2" class="etoile"> 2 </label>
                <input type="radio" id="note3" name="radio" value="note" />
                <label for="note3" class="etoile"> 3 </label>
                <input type="radio" id="note4" name="radio" value="note" />
                <label for="note3" class="etoile"> 4 </label>
                <input type="radio" id="note5" name="radio" value="note" />
                <label for="note3" class="etoile"> 5 </label> <br>
            <div>
        </div>   
    <label for="commentaire"> Commentaire  : </label><br>
    <input type="textarea" name="commentaire" id="commentaire" required/> <br>

    <button type="submit">Envoyer</button>

</form>


{% endblock %}
